:root {
    /*  All of these are 1/3rd of their original value. */
    --h1-margin-top: 1;
    --h2-margin-top: 0.75;
    --h3-margin-top: calc(1.75 / 3);
    --h4-margin-top: 0.5;
    --h5-margin-top: 0.5;
    --h6-margin-top: 0.5;

    /* --nav-indent: 10px; */
}

/*  Remove additional space in admonitions. */
.admonition-content > :first-child {
    margin-top: 0 !important;
}

.admonition-content > :last-child {
    margin-bottom: 0 !important;
}

/* .nav-folder-children > .nav-file, .nav-folder-children > .nav-folder {
    margin-left: var(--nav-indent);
} */
